.logo {
    display: flex;
    width: 145px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--button-active-color);
    text-decoration: none;
}