
.page-header {
    min-width:480px;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ECECEC;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.logo {
    display: flex;
    width: 134px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--button-active-color);
    text-decoration: none;
    @media (min-width:1200px) {
    width: 145px;
    font-size: 26px;
    line-height: 1.19;
    }
}
.page-header__logo {
    @media (min-width:768px) {
        margin-right: 87px;
    }
    @media (min-width:1200px) {
        margin-right: 92px;
        margin-top: 25px;
    }
}
.logo__text {
    color: var(--primary-text-color);
    }

.page-header__burger-button {
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--aditional-color);
    border: 0;
    @media(min-width:768px) {
        display: none;
    }
} 

.site-nav {
    display: none;
    @media(min-width:768px) {    
    display: flex;
    align-items: center;
    width: 283px;
    padding-left: 0;
    margin-left: 0;
    margin-right: auto;
    list-style: none;
    }
}

.site-nav__item {
    @media(min-width:768px) {
    display: flex;
    display: block;
    position: relative;
    

&:not(:last-child) {
    margin-right: 50px;
}
    }
}

.site-nav__link {
    display: none;
    
@media (min-width:768px) {
    display: flex;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--transition-timing-function);

    &:hover,
    &:focus,
    &:active {
        color: var(--button-active-color);
    }
}
}


.site-nav__link--current::after {
    @media (min-width:768px){
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -2px;
    background-color: var(--button-active-color);
    border-radius: 2px;
    }
}


.site-auth {
    display: none;
    @media(min-width:768px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 21px;
    padding-bottom: 21px;
    }
        @media(min-width:1200px){
            flex-direction: row;
            gap:30px;
        }
}
.site-auth__link {
    color: var(--accent-text-color);
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.17;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color var(--transition-timing-function);
    &:hover,
    &:focus {
        color: var(--button-active-color);
    }
    @media(min-width:1200px) {
        font-size: 14px;
        line-height: 1.14;
    }
}
.site-auth__icon {
    fill: currentColor;
    margin-right: 8px;
    @media(min-width:1200px){
        margin-right: 10px;
    }
}
.site-auth__item {
    list-style: none;
    @media(min-width:1200px){
        min-width: 161px;
    }
}





