.section-staff {
    width: 100%;
    min-width: 480px;
    background-color: #F5F4FA;
    padding-top: 60px;
    padding-bottom: 60px;
    @media (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.staff__title {
        display: block;
        display: flex;
        justify-content: center;
        font-family: Roboto;
        font-weight: 700;
        font-size: 33px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        margin-bottom: 30px;
        margin-top: 60px;
        @media (min-width:1200px) {
            margin-bottom: 50px;
            font-size: 36px;
                line-height: 1.17;
            
        }
}

.staff__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    @media(min-width:768px) {
            flex-basis: calc((100% - 30px) / 2);
        }
    
        @media (min-width:1200px) {
            flex-direction: row;
            flex-wrap: nowrap;
        }
}

.card-staff {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 450px;
    background: var(--aditional-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @media(min-width:768px) {
    width: 354px;
        }
    @media (min-width:1200px) {
        width: 270px;
    }
}


.card-staff__photo {
    display: block;
    width: 100%;
    width: 450px;
    @media(min-width:768px) {
            width: 354px;
        }
    
        @media (min-width:1200px) {
            width: 270px;
        }
}

.card-staff__text {
    padding-top: 30px;
}

.card-staff__name {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}

.card-staff__position {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}

.card-net {
    display: flex;
    gap: 10px;
    justify-content: center;
    list-style: none;
    flex-direction: row;
    padding: 16px 122px 24px 122px;
    @media(min-width:768px) {
            padding: 16px 74px 24px 74px;
        }
    
        @media (min-width:1200px) {
            padding: 16px 32px 30px 32px;
        }
    
    
}


.card-net__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color var(--transition-timing-function), color var(--transition-timing-function), fill var(--transition-timing-function);
    background-color: var(--aditional-color);
    color: #AFB1B8;

&:hover,
&:focus {
    background-color: var(--button-active-color);
    color: var(--aditional-color);
}

.card-net__icon {
    fill: currentColor;
}
}





