.section-features {
    min-width: 480px;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    @media (min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
    }
    }

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

        @media (min-width:768px) {
        flex-basis: calc((100% - 30px) / 2);
        }
        @media (min-width:1200px) {
            flex-direction: row;
            flex-wrap: nowrap;
        }

    }

.features__list {
    display: flex;
    flex-direction: column;
    width: 450px;
    list-style: none;
    
        &:not(:last-child) {
                margin-bottom: 30px;
        }
    @media (min-width:768px) {
            width: 354px;
             flex-basis: calc((100% - 1 * 30px) / 2);
            }
            @media (min-width:1200px) {
            width: 270px;  
            }
}


.features__item {
    display: flex;
    width: 450px;
    height: 120px;
    background-color: #F5F4FA;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    
    @media (min-width: 768px) {
        width: 354px;
        height: 120px;
    }
    @media (min-width: 1200px) {
        width: 270px;
        height: 120px;
        
    }
}

.features__icon {
    fill: currentColor;
    width: 70px;
    height: 70px;
}

.features__subtitle {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @media (min-width:768px) {
        text-align: start;
    }
}

.features__text {
    font-family: Roboto;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}
