*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-text-color: #212121;
    --background-color: #F5F5F5;
    --aditional-color: #ffffff;
    --accent-text-color: #757575;
    --button-active-color: #2196F3;
    --transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    // $text-fonts: “Roboto”, sans-serif;
    // $logo-fonts: ‘Raleway’, sans-serif;
}

body {
    font-family: “Roboto”, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: var(--primary-text-color);
}


h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0000);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}